.avatar{
    object-fit: cover;
    border-radius: 50%;
}

.avatar-navbar{
    width: 60px;
    height: 60px;
}
.avatar-small{
    width: 100px;
    height: 100px;
    margin: 5px;
}

.avatar-big{
    width: 200px;
    height: 200px;
}