.btn{
    padding: 10px 20px ;
    text-transform: uppercase;
    border-radius: 10px;
}

.btn-rosé{
    background-color: rgb(252, 206, 120);
}

.btn-rosé:hover{
    background-color: white;
}

.btn-green-yellow{
    background-color: greenyellow;
}

.btn-green{
    background-color: green;
    color: white;
}

.btn-green:hover{
    color: black;
}

.btn-white{
    background-color: white;
    color: green;
}

.btn-white:hover{
    color: black;
}

.btn-retour {
    background-color: rgb(255, 204, 0);
    color: black;
}

.btn-retour:hover{
    color: white;
}
